server:
  forward-headers-strategy: framework

spring:
  config:
    import: optional:file:.env[.properties]
  data:
    mongodb:
      uri: ${MONGO_URI}

springdoc:
  swagger-ui:
    path: /swagger-ui/index.html